{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<div class="container">
  <div class="panel panel-primary">
      <div class="panel-heading">John Brown</div>
      <div class="panel-body">{{date}}</div>
      <li class="list-group-item">Username: morphguy</li>
      <li class="list-group-item">ID: 600032234242</li>
      <li class="list-group-item">Sex: Male</li>
      <li class="list-group-item">Age: 10</li>
      <li class="list-group-item">Highest Score: 120</li>
  </div>
</div>
{% endblock %}